{%- assign text_alignment = text_alignment | default: settings.teaser_product_info_alignment -%}

{%- if stacked and section.settings.steps_per_row_mobile == '2' -%}
  {%- assign mobile_reduced = true -%}
{%- endif -%}

{%- assign card_background = background -%}
{%- assign card_text_color = text_color -%}
{%- assign card_class = 'step-card step-card--teaser ' -%}

{%- assign card_class = card_class | append: settings.teaser_step_card_scheme -%}

<step-card
  {% if reveal %}
    reveal-js
  {% endif %}
  {% render 'surface',
    class: card_class,
    background: card_background,
    text_color: card_text_color,
    style: hover_color
  %}
>
  <a
    href="{{ block.settings.step_link }}"
    class="step-card__info {% if text_alignment == 'center' %}step-card__info--center{% endif %}"
  >
    {%- assign text_class = 'v-stack gap-0.5 w-full ' -%}
    {%- if text_alignment == 'center' -%}
      {%- assign text_class = text_class | append: 'justify-items-center' -%}
    {%- endif -%}

    <div class="{{ text_class }} step_details">
      <img width="" height="" class="step_title_icon_img" src="{{ block.settings.step_title_icon | img_url: 'large' }}">

      <h5 class="step_title_name h5">
        {{ block.settings.step_title_name }}
      </h5>
      <div class="step_title_text">
        {{ block.settings.step_title_text }}
      </div>
      <div class="step_link">
        {{ block.settings.step_link_text }}
      </div>
    </div>
  </a>
</step-card>
