{%- unless section.settings.full_width -%}
  {%- render 'section-spacing-collapsing' -%}
{%- endunless -%}

<style>
  #shopify-section-{{ section.id }} .section-stack {
    padding: 1.5rem 0;
  }
  #shopify-section-{{ section.id }} .scrollbar__progress {
    background: #DBD1B8;
  }
  #shopify-section-{{ section.id }} .scrollbar__progress:before {
    background: #716854;
  }
  #shopify-section-{{ section.id }} {
    --step-list-column-gap: var(--grid-gutter);
    --step-list-row-gap: var(--spacing-12);
    --step-list-grid: var(--step-list-row-gap) var(--step-list-column-gap);
    --step-list-carousel-item-width: calc(var(--container-inner-width) / 3 -(var(--step-list-column-gap) / 3* 2));
    {%- if section.settings.full_width -%}
      --section-outer-spacing-block: 0;
    {%- endif -%}
  }

  #shopify-section-{{ section.id }} .step-list {
    --step-list-gap: {% if section.settings.stack_steps and section.settings.steps_per_row_mobile == '2' %} var(--spacing-2){% else %}var(--step-list-row-gap) var(--step-list-column-gap){% endif %};
    --step-list-items-per-row: {{ section.settings.steps_per_row_mobile | times: 1 }};
    --step-list-carousel-item-width: 74vw;
    --step-list-grid: {% if section.settings.stack_steps %}auto / repeat(var(--step-list-items-per-row), minmax(0, 1fr)){% else %}auto / auto-flow var(--step-list-carousel-item-width){% endif %};
  }

  @media screen and (min-width: 700px) {
    #shopify-section-{{ section.id }} .step-list {
      --step-list-gap: var(--step-list-row-gap) var(--step-list-column-gap);
      --step-list-items-per-row: 2;
      --step-list-carousel-item-width: 36vw;
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} .step-list {
      --step-list-items-per-row: {{ section.settings.steps_per_row_desktop }};
      --step-list-carousel-item-width: calc(var(--container-inner-width) / {{ section.settings.steps_per_row_desktop }} - (var(--step-list-column-gap) / {{ section.settings.steps_per_row_desktop }} * {{ section.settings.steps_per_row_desktop | minus: 1 }}));
    }
  }
</style>

{% if section.settings.hover_effect == true %}
  <style>
    .step-card--hover {
      --animation: 0.4s;
      --transform-start: translateY(0%);
      --transform-end: translateY(calc(var(--text-eyebrow) * -1));
      transition: background var(--animation) ease-in-out;
      overflow: hidden;
    }
    step-card.step-card:hover {
      background: rgb(var(--scheme-primary-button-rgb));
      cursor: pointer;
    }
    step-card.step-card:hover > * {
      color: #fff;
    }
    step-card.step-card:hover .step_title_icon_img {
      filter: brightness(4);
    }
    step-card.step-card:hover .step_link {
      color: #fff;
    }
    .step_details:hover .step_link {
      color: #fff;
    }
    .step_details:hover > .step_title_icon_img {
      filter: brightness(4);
    }
  </style>
{% endif %}

<div {% render 'section-properties' %}>
  <div class="section-stack">
    <div class="{% if section.settings.show_progress_bar %}scrollable-with-controls{% else %}floating-controls-container{% endif %}">
      {%- assign scroll_area_id = 'scroll-area-' | append: section.id -%}

      <scroll-carousel
        selector="step-card"
        id="{{ scroll_area_id }}"
        class="scroll-area bleed {% if section.settings.steps_count > section.settings.steps_per_row_desktop %}is-scrollable{% endif %}"
      >
        <reveal-items selector=".step-list > *">
          <step-list class="step-list">
            {%- for block in section.blocks limit: section.settings.steps_count -%}
              {% case section.settings.card_type %}
                {% when 'teaser' %}
                  {%- render 'fa-step-card-teaser',
                    block: block,
                    stacked: section.settings.stack_steps,
                    background: section.settings.step_card_background,
                    text_color: section.settings.step_card_text_color
                  -%}
                {% else %}
                  {%- render 'fa-step-card',
                    block: block,
                    stacked: section.settings.stack_steps,
                    background: section.settings.step_card_background,
                    text_color: section.settings.step_card_text_color
                  -%}
              {% endcase %}
            {%- endfor -%}
          </step-list>
        </reveal-items>
      </scroll-carousel>

      {%- if section.settings.stack_steps == false -%}
        {%- if section.settings.show_progress_bar -%}
          {%- assign default_progress = section.settings.steps_per_row_desktop
            | times: 1.0
            | divided_by: section.settings.steps_count
          -%}
          {%- render 'scrollbar', observes: scroll_area_id, default_progress: default_progress, show_buttons: true -%}
        {%- else -%}
          <button
            is="prev-button"
            class="circle-button circle-button--lg circle-button--fill border group"
            aria-controls="{{ scroll_area_id }}"
            disabled
          >
            <span class="sr-only">{{ 'general.accessibility.previous' | t }}</span>
            <span class="animated-arrow animated-arrow--reverse"></span>
          </button>

          <button
            is="next-button"
            class="circle-button circle-button--lg circle-button--fill border group"
            aria-controls="{{ scroll_area_id }}"
          >
            <span class="sr-only">{{ 'general.accessibility.next' | t }}</span>
            <span class="animated-arrow"></span>
          </button>
        {%- endif -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Steps Grid (FA)",
  "class": "shopify-section--steps-grid-fa",
  "tag": "section",
  "disabled_on": {
    "templates": ["password"],
    "groups": ["header", "footer", "custom.overlay"]
  },
  "max_blocks": 10,
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "select",
      "id": "card_type",
      "label": "Step card style",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "teaser",
          "label": "Teaser"
        }
      ],
      "default": "standard"
    },
    {
      "type": "color",
      "id": "background_sectioned_boxed",
      "label": "Section Background",
      "info": "This background color is only applied if FULL WIDTH is deselected."
    },
    {
      "type": "checkbox",
      "id": "stack_steps",
      "label": "Stack steps",
      "default": true,
      "info": "Disable this option to use progress bar"
    },
    {
      "type": "checkbox",
      "id": "show_progress_bar",
      "label": "Show carousel progress bar",
      "default": false
    },
    {
      "type": "range",
      "id": "steps_count",
      "min": 2,
      "max": 50,
      "label": "Steps to show",
      "default": 6
    },
    {
      "type": "select",
      "id": "steps_per_row_mobile",
      "label": "Steps per row (mobile)",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "range",
      "id": "steps_per_row_desktop",
      "min": 2,
      "max": 5,
      "label": "Steps per row (desktop)",
      "default": 3,
      "step": 1
    },
    {
      "type": "header",
      "content": "Custom top and bottom padding"
    },
    {
      "type": "checkbox",
      "id": "use_custom_padding",
      "label": "Use custom padding",
      "info": "Selecting this option will disable the global vertical space and auto collapse. Required if you use the custom padding options below."
    },
    {
      "type": "range",
      "id": "padding_top",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Top Padding",
      "info": "Desktop",
      "min": 0,
      "max": 16
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Bottom Padding",
      "info": "Desktop",
      "min": 0,
      "max": 16
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Top Padding",
      "info": "Mobile & tablet",
      "min": 0,
      "max": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Bottom Padding",
      "info": "Mobile & tablet",
      "min": 0,
      "max": 16
    },
    {
      "type": "checkbox",
      "label": "Enable hover effect on cards",
      "id": "hover_effect",
      "default": true
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color_scheme",
      "id": "scheme",
      "label": "Color Scheme"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "step_card_background",
      "label": "Step card background"
    },
    {
      "type": "color",
      "id": "step_card_text_color",
      "label": "Step card text"
    }
  ],
  "blocks": [
    {
      "type": "step",
      "name": "Step",
      "settings": [
        {
          "type": "header",
          "content": "Step Details"
        },
        {
          "type": "image_picker",
          "label": "Add step icon here:",
          "id": "step_title_icon"
        },
        {
          "type": "text",
          "label": "Step Title",
          "id": "step_title_name",
          "default": "Step 1"
        },
        {
          "type": "text",
          "label": "Step Title Text",
          "id": "step_title_text",
          "default": "How to assemble your Nordic Hyper"
        },
        {
          "type": "url",
          "label": "Step Link",
          "id": "step_link"
        },
        {
          "type": "text",
          "label": "Step Link Text",
          "id": "step_link_text",
          "default": "Go to step 1"
        }        
      ]
    }
  ],
  "presets": [
    {
      "name": "Steps Grid (FA)",
      "category": "Custom"
    }
  ]
}
{% endschema %}
