{%- render 'section-spacing-collapsing' -%}

<style>
  #shopify-section-{{ section.id }} {
    --product-grid: auto / minmax(0, 1fr);
    --product-gallery-media-list-grid: auto / auto-flow {% if section.settings.mobile_carousel_control == 'free_scroll' %}{% if section.settings.mobile_media_size == 'expanded' %}84vw{% else %}73vw{% endif %}{% else %}100%{% endif %};
    --product-gallery-media-list-gap: {% if section.settings.mobile_media_size == 'expanded' %}var(--spacing-0-5){% else %}var(--grid-gutter){% endif %};
    padding-top: {{ section.settings.padding_top }}rem;
    padding-bottom: {{ section.settings.padding_bottom }}rem;
  }

  @media screen and (max-width: 999px) {
    #shopify-section-{{ section.id }} {
      --section-spacing-block-start: {% if section.settings.mobile_media_size == 'expanded' %}0px{% else %}var(--container-gutter){% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- assign media_ratio = section.settings.desktop_media_width | divided_by: 50.0 -%}
      --product-grid: auto / minmax(0, {{ media_ratio }}fr) minmax(0, {{ 2.0 | minus: media_ratio }}fr);
      --product-gallery-media-list-grid: {% if section.settings.desktop_media_layout contains 'grid' %}auto-flow dense / repeat(2, minmax(0, 1fr)){% else %}auto / auto-flow 100%{% endif %};
      --product-gallery-media-list-gap: calc(var(--grid-gutter) / 2);
    }

    {%- if section.settings.desktop_media_layout == 'grid_highlight' -%}
      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) {
        grid-column: span 2;
      }

      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) ~ *:not(.product-gallery__media--expand) {
        grid-column: span 1;
      }
    {%- endif -%}
  }

  #shopify-section-{{ section.id }} {
    background-color: {{ section.settings.background_color }} !important;
    background-image: {{ section.settings.background_gradient }};
    color: {{ section.settings.text_color }};
    padding-top: {{ section.settings.padding_top }}rem;
    padding-bottom: {{ section.settings.padding_bottom }}rem;
  }

  .step-titles-section {
    width: 1200px;
    margin: auto;
  }

  .step-titles-container {
    display: flex;
    justify-content: space-around;
  }

  .step-title-container {
    width: 268px;
    height: 268px;
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .step-title-container .step-title {
    font-size: 18px;
    margin-top: 10px;
  }

  .step-title-container .step-desc {
    font-size: 18px;
    color: #C2D3DE;
    line-height: 1.7;
    margin-top: 10px;
  }

  @media (max-width: 1200px) {
    .step-titles-section {
      width: 870px;
      margin: auto;
    }
  }

  @media (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile }}rem;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}rem;
      padding-right: 1rem;
      padding-left: 1rem;
    }
    .step-title-container {
      border: 1px solid #C2D3DE;
      border-radius: 5px;
      margin-right: 20px;
    }

    .step-titles-container {
      width: 870px;
      justify-content: left;
    }

    .step-titles-section {
      width: 100%;
      overflow: auto
    }
  }
</style>

<div class="step-titles-section">
  {%- if section.blocks.size > 0 -%}
    <div class="step-titles-container">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'step-title' -%}
            <div class="step-title-container">
              {%- if block.settings.icon != blank -%}
                {% render 'icon' with block.settings.icon %}
              {%- elsif block.settings.custom_icon != blank -%}
                <img src="{{ block.settings.custom_icon | image_url }}" width="58" />
              {%- endif -%}
              {%- if block.settings.title != blank -%}
                <p class="step-title">{{ block.settings.title }}</p>
              {% endif %}
              {% if block.settings.description != blank %}
                <p class="step-desc">{{ block.settings.description }}</p>
              {% endif %}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Step Titles(FA)",
  "class": "shopify-section--step-titles",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Custom top and bottom padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Top Padding",
      "info": "Desktop",
      "min": 0,
      "max": 16
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Bottom Padding",
      "info": "Desktop",
      "min": 0,
      "max": 16
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Top Padding",
      "info": "Mobile & tablet",
      "min": 0,
      "max": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Bottom Padding",
      "info": "Mobile & tablet",
      "min": 0,
      "max": 16
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color_scheme",
      "id": "scheme",
      "label": "Color Scheme"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "equalse_color",
      "label": "Equalse"
    },
    {
      "type": "header",
      "content": "Input colors",
      "info": "Applies to elements like quantity selector and variant selectors."
    },
    {
      "type": "color",
      "id": "input_background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "input_text_color",
      "label": "Text"
    }
  ],
  "blocks": [
    {
      "type": "step-title",
      "name": "Step Title",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "6-digit",
              "label": "6 Digit",
              "group": "6 Reasons"
            },
            {
              "value": "vertical-storage-in-rectangle",
              "label": "Vertical",
              "group": "6 Reasons"
            },
            {
              "value": "durable-design",
              "label": "Durable",
              "group": "6 Reasons"
            },
            {
              "value": "picto-coupon",
              "label": "Coupon",
              "group": "Shop"
            },
            {
              "value": "picto-percent",
              "label": "Percent",
              "group": "Shop"
            },
            {
              "value": "picto-gift",
              "label": "Gift",
              "group": "Shop"
            },
            {
              "value": "picto-star",
              "label": "Star",
              "group": "Shop"
            },
            {
              "value": "picto-like",
              "label": "Like",
              "group": "Shop"
            },
            {
              "value": "picto-building",
              "label": "Building",
              "group": "Shop"
            },
            {
              "value": "picto-love",
              "label": "Love",
              "group": "Shop"
            },
            {
              "value": "picto-award-gift",
              "label": "Award gift",
              "group": "Shop"
            },
            {
              "value": "picto-happy",
              "label": "Happy",
              "group": "Shop"
            },
            {
              "value": "picto-box",
              "label": "Box",
              "group": "Shipping"
            },
            {
              "value": "picto-pin",
              "label": "Pin",
              "group": "Shipping"
            },
            {
              "value": "picto-timer",
              "label": "Timer",
              "group": "Shipping"
            },
            {
              "value": "picto-validation",
              "label": "Validation",
              "group": "Shipping"
            },
            {
              "value": "picto-truck",
              "label": "Truck",
              "group": "Shipping"
            },
            {
              "value": "picto-return",
              "label": "Return",
              "group": "Shipping"
            },
            {
              "value": "picto-earth",
              "label": "Earth",
              "group": "Shipping"
            },
            {
              "value": "picto-plane",
              "label": "Plane",
              "group": "Shipping"
            },
            {
              "value": "picto-credit-card",
              "label": "Credit card",
              "group": "Payment & Security"
            },
            {
              "value": "picto-lock",
              "label": "Lock",
              "group": "Payment & Security"
            },
            {
              "value": "picto-shield",
              "label": "Shield",
              "group": "Payment & Security"
            },
            {
              "value": "picto-secure-profile",
              "label": "Secure profile",
              "group": "Payment & Security"
            },
            {
              "value": "picto-money",
              "label": "Money",
              "group": "Payment & Security"
            },
            {
              "value": "picto-recycle",
              "label": "Recycle",
              "group": "Ecology"
            },
            {
              "value": "picto-leaf",
              "label": "Leaf",
              "group": "Ecology"
            },
            {
              "value": "picto-tree",
              "label": "Tree",
              "group": "Ecology"
            },
            {
              "value": "picto-mobile-phone",
              "label": "Mobile phone",
              "group": "Communication"
            },
            {
              "value": "picto-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "picto-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "picto-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "picto-operator",
              "label": "Operator",
              "group": "Communication"
            },
            {
              "value": "picto-mailbox",
              "label": "Mailbox",
              "group": "Communication"
            },
            {
              "value": "picto-envelope",
              "label": "Envelope",
              "group": "Communication"
            },
            {
              "value": "picto-comment",
              "label": "Comment",
              "group": "Communication"
            },
            {
              "value": "picto-question",
              "label": "Question",
              "group": "Communication"
            },
            {
              "value": "picto-send",
              "label": "Send",
              "group": "Communication"
            },
            {
              "value": "picto-at-sign",
              "label": "At sign",
              "group": "Tech"
            },
            {
              "value": "picto-camera",
              "label": "Camera",
              "group": "Tech"
            },
            {
              "value": "picto-wifi",
              "label": "WiFi",
              "group": "Tech"
            },
            {
              "value": "picto-bluetooth",
              "label": "Bluetooth",
              "group": "Tech"
            },
            {
              "value": "picto-printer",
              "label": "Printer",
              "group": "Tech"
            },
            {
              "value": "picto-smart-watch",
              "label": "Smart watch",
              "group": "Tech"
            },
            {
              "value": "picto-coffee",
              "label": "Coffee",
              "group": "Food & Drink"
            },
            {
              "value": "picto-burger",
              "label": "Burger",
              "group": "Food & Drink"
            },
            {
              "value": "picto-beer",
              "label": "Beer",
              "group": "Food & Drink"
            },
            {
              "value": "picto-target",
              "label": "Target",
              "group": "Other"
            },
            {
              "value": "picto-document",
              "label": "Document",
              "group": "Other"
            },
            {
              "value": "picto-jewelry",
              "label": "Jewelry",
              "group": "Other"
            },
            {
              "value": "picto-music",
              "label": "Music",
              "group": "Other"
            },
            {
              "value": "picto-file",
              "label": "File",
              "group": "Other"
            },
            {
              "value": "picto-mask",
              "label": "Mask",
              "group": "Other"
            },
            {
              "value": "picto-stop",
              "label": "Stop",
              "group": "Other"
            }
          ],
          "default": "6-digit"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "240 x 240px .png recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "6 MACHINES IN 1"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Built with extreme versatility to offer 6 unique exercise options"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Step Titles(FA)",
      "blocks": [
        {
          "type": "step-title"
        },
        {
          "type": "step-title"
        },
        {
          "type": "step-title"
        }
      ]
    }
  ]
}
{% endschema %}
