{%- render 'section-spacing-collapsing' -%}

<style>
  #shopify-section-{{ section.id }} {
    --product-grid: auto / minmax(0, 1fr);
    --product-gallery-media-list-grid: auto / auto-flow {% if section.settings.mobile_carousel_control == 'free_scroll' %}{% if section.settings.mobile_media_size == 'expanded' %}84vw{% else %}73vw{% endif %}{% else %}100%{% endif %};
    --product-gallery-media-list-gap: {% if section.settings.mobile_media_size == 'expanded' %}var(--spacing-0-5){% else %}var(--grid-gutter){% endif %};
    padding-top: {{ section.settings.padding_top }}rem;
    padding-bottom: {{ section.settings.padding_bottom }}rem;
  }

  @media screen and (max-width: 999px) {
    #shopify-section-{{ section.id }} {
      --section-spacing-block-start: {% if section.settings.mobile_media_size == 'expanded' %}0px{% else %}var(--container-gutter){% endif %};
    }
  }

  @media screen and (min-width: 1000px) {
    #shopify-section-{{ section.id }} {
      {%- assign media_ratio = section.settings.desktop_media_width | divided_by: 50.0 -%}
      --product-grid: auto / minmax(0, {{ media_ratio }}fr) minmax(0, {{ 2.0 | minus: media_ratio }}fr);
      --product-gallery-media-list-grid: {% if section.settings.desktop_media_layout contains 'grid' %}auto-flow dense / repeat(2, minmax(0, 1fr)){% else %}auto / auto-flow 100%{% endif %};
      --product-gallery-media-list-gap: calc(var(--grid-gutter) / 2);
    }

    {%- if section.settings.desktop_media_layout == 'grid_highlight' -%}
      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) {
        grid-column: span 2;
      }

      #shopify-section-{{ section.id }} .product-gallery__media-list > :not([hidden]) ~ *:not(.product-gallery__media--expand) {
        grid-column: span 1;
      }
    {%- endif -%}
  }

  .shopify-section--video-steps {
    background-color: {{ section.settings.background_color }} !important;
    background-image: {{ section.settings.background_gradient }};
    color: {{ section.settings.text_color }};
  }

  @media screen and (min-width: 1400px) {
    #shopify-section-{{ section.id }} {
      --product-gallery-media-list-gap: var(--grid-gutter);
    }
  }

  #shopify-section-{{ section.id }} {
    display: flex;
    justify-content: center;
  }

  .video-steps-section {
    display: flex;
    align-items: start;
    justify-content: space-around;
  }

  .steps-content {
    width: 500px;
    padding: 20px 0;
  }

  .steps-content h6 {
    color: #C2D3DE;
    font-size: 16px;
    line-height: 1.5;
  }

  .steps-content h2 {
    font-size: 42px;
    font-weight: bolder;
    line-height: 1.2;
  }

  .steps-description p:nth-child(odd) {
    color: #C2D3DE;
    font-size: 18px;
    padding: 10px 0;
  }

  .steps-description p:nth-child(even) {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 15px;
  }

  .video-container {
    width: 500px;
    height: 500px;
    border-radius: 10px;
  }

  .video-container video-media {
    width: 100%;
    height: 100%;
  }

  @media (min-width: 769px) {
    .mobile-image {
      display: none;
    }
    .steps-mobile-view {
      display: none;
    }
  }

  @media (max-width: 1080px) {
    .steps-content {
      width: 400px;
    }
    .video-container {
      width: 400px;
      height: 400px;
    }
  }

  @media (max-width: 768px) {
    #shopify-section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top_mobile }}rem;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}rem;
      padding-right: 2rem;
      padding-left: 2rem;
    }

    .video-steps-section {
      width: 100%;
      flex-direction: column;
    }

    .steps-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .steps-content .steps-description {
      display: none;
    }

    .steps-content h2 {
      font-size: 32px;
      font-weight: 500;
      width: 80%;
      text-align: center;
      margin-top: 10px;
    }

    .steps-description p:nth-child(odd) {
      font-size: 16px;
      padding: 8px 0;
    }

    .steps-description p:nth-child(even) {
      font-size: 16px;
      padding-bottom: 6px;
    }

    .video-container {
      width: 100%;
      height: auto;
      border-radius: 10px;
    }

    .video-container video-media {
      width: 100%;
    }

    .video-container video-media video {
      width: 100%;
      height: auto;
    }

    .steps-mobile-view {
      margin-top: 1.5rem;
    }
  }
</style>

<div class="video-steps-section">
  <div class="steps-content">
    <h6>{{ section.settings.subtitle }}</h6>
    <h2>{{ section.settings.title }}</h2>
    <div class="steps-description">{{ section.settings.steps }}</div>
  </div>
  <div class="video-container">
    {%- assign poster_image = section.settings.poster | default: section.settings.mobile_video.preview_image -%}
    {%- if section.settings.video -%}
      {%- if section.settings.autoplay -%}
        {%- assign show_controls = false -%}
      {%- else -%}
        {%- assign show_controls = true -%}
      {%- endif -%}
  
      {%- if section.settings.mobile_video != blank -%}
        
  
        <video-media {% if section.settings.autoplay %}autoplay{% endif %} class="sm:hidden" {% if section.settings.video_size == 'auto' %}style="--aspect-ratio: {{ section.settings.mobile_video.aspect_ratio }}"{% endif %}>
          {{- section.settings.mobile_video | video_tag: class: 'object-cover sm:hidden', controls: section.settings.show_controls, playsinline: true, muted: section.settings.autoplay, loop: section.settings.autoplay, preload: 'metadata', image_size: '400x' -}}
          {{- poster_image | image_url: width: poster_image.width | image_tag: loading: 'lazy', sizes: '100vw', widths: '200,300,400,500,600,700,800,900,1000,1200' -}}
        </video-media>
      {%- endif -%}
  
      <video-media {% if section.settings.autoplay %}autoplay{% endif %} {% if section.settings.mobile_video != blank %}class="hidden sm:block"{% endif %} {% if section.settings.video_size == 'auto' %}style="--aspect-ratio: {{ section.settings.video.aspect_ratio }}"{% endif %}>
        {{- section.settings.video | video_tag: playsinline: true, preload: 'metadata', muted: section.settings.autoplay, loop: section.settings.autoplay, controls: show_controls, image_size: '800x' -}}
      </video-media>
    {%- else -%}
      <video-media host="{{ section.settings.external_video_url.type }}" {% if section.settings.autoplay %}autoplay class="pointer-events-none"{% endif %}>
  
        <template>
          {%- if section.settings.external_video_url.type == 'youtube' -%}
            <iframe src="https://www.youtube.com/embed/{{ section.settings.external_video_url.id }}?playsinline=1&{% if section.settings.autoplay %}autoplay=1&controls=0&mute=1&loop=1&{% endif %}playlist={{ section.settings.external_video_url.id }}&enablejsapi=1&rel=0&modestbranding=1&origin={{ 'https://' | append: request.host | url_encode }}" allow="autoplay; encrypted-media" allowfullscreen="allowfullscreen"></iframe>
          {%- elsif section.settings.external_video_url.type == 'vimeo' -%}
            <iframe src="https://player.vimeo.com/video/{{ section.settings.external_video_url.id }}?autopause=1&{% if section.settings.autoplay %}background=1&autoplay=1&loop=1&muted=1&{% endif %}transparent=0&responsive=1&portrait=0&title=0&byline=0&color={{ settings.text_color | remove_first: '#' }}" allow="autoplay; encrypted-media;" allowfullscreen="allowfullscreen"></iframe>
          {%- endif -%}
        </template>
      </video-media>
    {%- endif -%}
  </div>
  <div class="steps-mobile-view">
    <div class="steps-description">{{ section.settings.steps }}</div>
  </div>
</div>

{% schema %}
{
  "name": "Steps Video(FA)",
  "class": "shopify-section--video-steps",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "SubTitle",
      "default": "HOW TO ATTACH IN 20 SECONDS"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Attach to your Nordic Hyper in 3 easy steps"
    },
    {
      "type": "richtext",
      "id": "steps",
      "label": "Steps",
      "default": "<p>STEP 1:Unscrew front loading bars (XL loading bars included for easier grip)STEP 2:Insert the Leg DeveloperSTEP 3:Screw in loading bars</p>"
    },
    {
      "type": "paragraph",
      "content": "For best visual results and avoid platform branding, use a MP4 file."
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "allow_transparent_header",
      "label": "Allow transparent header",
      "info": "This setting only applies when this section is the first one.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "info": "Video are muted to allow autoplay. For best results, do not add any content on top of the video when autoplay is enabled.",
      "default": false
    },
    {
      "type": "select",
      "id": "video_size",
      "label": "Video size",
      "info": "Choose \"Original video ratio\" to avoid video cropping.",
      "options": [
        {
          "value": "auto",
          "label": "Original aspect ratio"
        },
        {
          "value": "sm",
          "label": "Small"
        },
        {
          "value": "md",
          "label": "Medium"
        },
        {
          "value": "lg",
          "label": "Large"
        },
        {
          "value": "fill",
          "label": "Fill screen"
        }
      ],
      "default": "auto"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "Replaces external video if both are set."
    },
    {
      "type": "video",
      "id": "mobile_video",
      "label": "Mobile video",
      "info": "Default to main video if none is set."
    },
    {
      "type": "video_url",
      "id": "external_video_url",
      "accept": ["vimeo", "youtube"],
      "label": "Video URL",
      "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
    },
    {
      "type": "image_picker",
      "id": "poster",
      "label": "Poster image",
      "info": "3200 x 1600px .jpg recommended. Poster is not visible when autoplay is enabled."
    },
    {
      "type": "header",
      "content": "Custom top and bottom padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Top Padding",
      "info": "Desktop",
      "min": 0,
      "max": 16
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Bottom Padding",
      "info": "Desktop",
      "min": 0,
      "max": 16
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Top Padding",
      "info": "Mobile & tablet",
      "min": 0,
      "max": 16
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "default": 1,
      "step": 0.5,
      "unit": "rem",
      "label": "Bottom Padding",
      "info": "Mobile & tablet",
      "min": 0,
      "max": 16
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color_scheme",
      "id": "scheme",
      "label": "Color Scheme"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Input colors",
      "info": "Applies to elements like quantity selector and variant selectors."
    },
    {
      "type": "color",
      "id": "input_background",
      "label": "Background",
      "default": "rgba(0,0,0,0)"
    },
    {
      "type": "color",
      "id": "input_text_color",
      "label": "Text"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Steps Video(FA)"
    }
  ]
}
{% endschema %}
